<a href="https://colab.research.google.com/github/siddharth-kale/DNA3/blob/main/DNA3_Emirates_Flight_Status.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install plotly.express

Collecting plotly.express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from plotly.express) (0.5.2)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from plotly.express) (4.4.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from plotly.express) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotly.express) (0.10.2)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from plotly.express) (1.1.5)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from plotly.express) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly.express) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20.0->plotly.express) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5->plotly.express) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.1.0->plotly.express) (1.3.3)
Installing collected packages: plotly.express
Successfully installed plotly.express-0.4.1

In [2]:
import pandas as pd
import numpy as np
import seaborn as sea
import plotly_express as px
from google.colab import drive
import glob

In [3]:
pd.options.display.max_rows=999

In [4]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
emirates_df = pd.DataFrame()

files = glob.glob('/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/*.csv')

for f in files:
  temp_df = pd.read_csv(f).drop(columns=['Unnamed: 0'])
  print(f)
  emirates_df = emirates_df.append(temp_df)

emirates_df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.

/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2020-11-18.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2020-12-06.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (3,7) have mixed types.Specify dtype option on import or set low_memory=False.

/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-01-03.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-02-15.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-03-07.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-04-09.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-05-10.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-06-12.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-07-27.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-08-20.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-09-06.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-10-03.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (3,7,8) have mixed types.Specify dtype option on import or set low_memory=False.

/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2020-10-15-005.csv
/content/gdrive/MyDrive/Projects/DNA3/Data/emirates/2021-11-02.csv

         alert  altitude  ...      track  vertical_rate
0        False       NaN  ...  42.478240         1088.0
1        False   29100.0  ...  42.703470         1088.0
2        False   29125.0  ...  42.780344         1088.0
3        False   29150.0  ...  42.857029         1088.0
4        False   29150.0  ...  42.857029         1088.0
...        ...       ...  ...        ...            ...
2793496  False   41000.0  ...  84.554408            0.0
2793497  False   41000.0  ...  84.554408            0.0
2793498  False   41000.0  ...  84.554408            0.0
2793499  False   41000.0  ...  84.564918            0.0
2793500  False   41000.0  ...  84.564918            0.0

[62091583 rows x 16 columns]

In [6]:
emirates_df['date'] = emirates_df['timestamp'].str[:10]

In [7]:
emirates_df['icao24'] = emirates_df['icao24'].astype(dtype='string')
emirates_df['date'] = emirates_df['date'].astype(dtype='string')

In [8]:
emirates_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62091583 entries, 0 to 2793500
Data columns (total 17 columns):
 #   Column         Dtype
---  ------         -----
 0   alert          bool
 1   altitude       float64
 2   callsign       object
 3   geoaltitude    float64
 4   groundspeed    float64
 5   hour           object
 6   icao24         string
 7   last_position  object
 8   latitude       float64
 9   longitude      float64
 10  onground       bool
 11  spi            bool
 12  squawk         float64
 13  timestamp      object
 14  track          float64
 15  vertical_rate  float64
 16  date           string
dtypes: bool(3), float64(8), object(4), string(2)
memory usage: 7.1+ GB

In [10]:
fleet_df = emirates_df.groupby(by=['date','icao24']).agg(
    {
        'groundspeed':['mean']
    }
).reset_index()

fleet_df.columns=['date','ICAO','groundspeed']

fleet_df

            date             ICAO  groundspeed
0     2019-12-07           8960.0   485.873449
1     2019-12-07        8960000.0   519.254298
2     2019-12-07  8960000000000.0   430.030558
3     2019-12-07           8960c9   402.996168
4     2019-12-07           8960cc   292.094590
...          ...              ...          ...
3386  2021-11-01           896480   440.239340
3387  2021-11-01           896481   440.694223
3388  2021-11-01           89649f   446.746140
3389  2021-11-01           8964b1   440.378870
3390  2021-11-01           8964b2   539.358364

[3391 rows x 3 columns]

In [11]:
final_df = fleet_df[fleet_df['groundspeed'].notna()].groupby(by=['date']).agg({
    
    'groundspeed':['mean'],
    'ICAO':['count']

}
).reset_index()
final_df.columns=['Date','Groundspeed','Aircraft']
final_df['Date'] = final_df['Date'].str[:7]
final_df['Proportion'] = round(final_df['Aircraft']/final_df['Aircraft'].max(),2)
final_df

       Date  Groundspeed  Aircraft  Proportion
0   2019-12   393.097975       235        0.99
1   2020-01   392.129435       238        1.00
2   2020-02   413.133990       223        0.94
3   2020-03   408.716209       219        0.92
4   2020-04   402.211727        39        0.16
5   2020-05   411.487105        58        0.24
6   2020-06   400.715374        81        0.34
7   2020-07   401.048072        98        0.41
8   2020-08   401.644393       108        0.45
9   2020-09   411.646577       110        0.46
10  2020-10   404.701206       125        0.53
11  2020-11   409.840563       118        0.50
12  2020-12   410.576917       133        0.56
13  2021-01   403.025225       124        0.52
14  2021-02   407.718275       121        0.51
15  2021-03   402.930611       125        0.53
16  2021-04   402.153309       123        0.52
17  2021-05   405.186661       120        0.50
18  2021-06   412.168151       127        0.53
19  2021-07   397.730690       129        0.54
20  2021-08   409.378147       132        0.55
21  2021-09   399.984194       137        0.58
22  2021-10   404.559467       138        0.58
23  2021-11   405.980855       151        0.63

In [12]:
fig = px.bar(final_df, y='Aircraft', x='Date',text='Aircraft')
fig.update_traces(textposition='outside',marker_color='rgb(10,10,105)',)
fig.update_layout(plot_bgcolor='white')
fig.show()

In [ ]:
final_df.to_csv('/content/gdrive/MyDrive/AlternativeData/DNA3/flights/Plots/emiratesairborne.csv')

In [ ]:
#emirates_df.to_csv('/content/gdrive/MyDrive/AlternativeData/DNA3/flights/totalemirates.csv')